%% -*- mode: Erlang; -*-
{erl_opts,      [debug_info]}.
{xref_checks,   [undefined_function_calls]}.
{eunit_opts,    [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{clean_files,   [".eunit", "ebin/*.beam"]}.

% Deps
{deps,[
   {jsx,       ".*", {git, "git://github.com/talentdeficit/jsx.git",   {tag, "453d4078e0"} } },
   {cowboy,    ".*", {git, "git://github.com/extend/cowboy.git",       {tag, "6e33274c85"} } },
   {lager,     ".*", {git, "git://github.com/basho/lager.git",         {tag, "46f7909891"} } },
   {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {tag, "507823a0e6"} } }
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
