%% -*- erlang -*-
[
 {wsrpc, [ {http_port, 8484}, 
	    {apps, [ 
		   {wsrpc, [ 
			       {services, [wsrpc_gs_resolver]} 
			     ] } 
		 ]} 
	 ]
 },

 %%---------------------------------
 %% Configure 'lager' logger system
 %%---------------------------------
 {lager, [
          {handlers, [
                      {lager_console_backend, debug},
                      {lager_file_backend, 
                       [
                        [{file, "log/event.log"},
                         {level, debug}, 
                         {formatter_config,
                          ["[",severity,"] ", time, " (",pid, "|", module, "|", 
                           line, ") ", " $ ", message, "\n"]} ]
                       ]}
                     ]}
         ]}
].
